<% if flash[:notice] %>
  <div class="alert alert-primary"><%= flash[:notice] %></div>
<% end %>

<%= render 'shared/error_messages' %>

<div class="card">
  <div class="card-header">
    <h4><%= @content.title %></h4>
  </div>
  <div class="card-body container">
  
<input id="lat_receive" type="hidden" value="<%= @content.latitude %>"></input>
<input id="lng_receive" type="hidden" value="<%= @content.longitude %>"></input>


  <div class="row align-items-start">
      <%= image_tag @content.image.url(angle: 0), class: "col-md-7" %>
      <div class="col-md-5">
        <table class="table">
            <thead>
              <tr>
                <td class="font-weight-bold">説明</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= simple_format(@content.body)%></td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>

    <div class="row mt-5 row align-items-start">
      <div class="col-md-7" >
        <div id='map'style="height: 500px"></div>
      </div>  
      <div class="col-md-5">
        <table class="table">
          <thead>
            <tr>
              <td class="font-weight-bold">住所</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @content.place%></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>



<%= render @content.comments %>

<%= render partial: 'comments/form', locals: { comment: @comment }%>


<script>
// 初期値とクリックの処理
function initMap(){
let map2
let geocoder2
let marker2
// number型でしか緯度経度としては使えないため変換
let lat_now = Number(document.getElementById('lat_receive').value);
let lng_now = Number(document.getElementById('lng_receive').value);
    // geocoderの初期化
    geocoder2 = new google.maps.Geocoder()
    map2 = new google.maps.Map(document.getElementById('map'), {
        center: {lat: lat_now, lng: lng_now},
        zoom: 12
    });


    // 初期値にマーカーをセット
    marker2 = new google.maps.Marker({
        position: new google.maps.LatLng(lat_now,lng_now),

    });

    marker2.setMap(map2);
    
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API']%>&callback=initMap" async defer></script>