<div class="row row-cols-1 row-cols-md-2">
  <% contents.each do |content| %>
    
    <div class="col mb-4 ">
      <div class="card text-center">
        <%= image_tag content.image.url(:schema) , class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title"><%= content.title %></h5>
          <a class="card-text text-center badge badge-primary">投稿者：<%= content.name %></a>
          <p class="card-text text-right"><%= content.prefecture %></p>
          <div class="delete" >
            <div>
              <%= link_to '詳細', content, class: 'btn btn-outline-dark' %>
              <%= link_to yield(:delete_name), content, class: yield(:delete_class), method: :delete %>
              <%= link_to yield(:edit_name), edit_shop_path(content), class: yield(:delete_class) %>
            </div>
          </div>
        </div>
      </div>
    </div>
 
  <% end %>
</div>



<%= paginate contents %>